<!DOCTYPE html>
<html>
  <head>
    <title>Learn2blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <%= render partial: 'layouts/header' %>
      <div class="container">
        <%= render partial: 'layouts/notification' %>
        <%= yield %>
        <%= render partial: 'layouts/footer' %>
      </div>
    </div>
  </body>
</html>
